* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header {
	background-color: black; /* warna ikut logo */
	padding: 10px 20px;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container img {
	width: 100px;      /* saiz logo */
	height: auto;
	margin-left: 40px;
}

/* Navbar box */
.navbar {
	max-width: 1100px;
	margin: auto;
	padding: 20px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Navigation links */
.nav-links {
	list-style: none;
	display: flex;
	gap: 60px;
}

.nav-links a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.nav-links a:hover {
	text-decoration: underline;
}
body 
{
	font-family: Poppins, sans-serif;
	background: cornsilk;
}
.site-footer {
  background: #2f2424;
  color: #eee;
  padding: 20px 10px 10px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 70px;
}

.footer-branch h4 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid #c19a6b;
  display: inline-block;
  padding-bottom: 5px;
}
.branch-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.branch-item {
  margin-bottom: 15px;
}

.branch-item strong {
  display: block;
  font-size: 15px;
  color: #c19a6b;
}

.branch-item p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.5;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}